{
  "presets": [
    "react-native"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": "./src",
        "alias": {
          "assets": "./assets"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}
